
<!-- Header-->
<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Friends
</h2>


<!-- Lateral-->
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <!-- Feed-->
        <div class="ui feed">
        <h4>Followers activity</h4>
          <!-- 1st feed -->
          <%= render @messages %>
          <!-- 2nd feed-->
         
        </div>
      </div>
      <div class="extra content">
      <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do | f | %>
          <div class="field">
            <div class="ui fluid icon input">
              <%=  f.text_field :body %>
              <%= f.button '<i class="bordered inverted blue edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

    <div class="four wide column ">
      <!--  Menu-->
      <div class="ui vertical menu chatbox">
        <a class="teal item">
          Inbox
          <div class="ui teal left pointing label">1</div>
        </a>
        <a class="item active">
          Spam
          <div class="ui label">51</div>
        </a>
        <a class="item">
          Updates
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>

</div>