@import 'semantic-ui';
.chatbox {
    height: 450px;
}
.nickname {
    font-weight: bold;
    font-style: italic;
    color: black; 
}

#messages {
    height: 15em;
    overflow: auto;
}
.input {
    button {
        display: none;
    }
}